
.itemdesc .container{
    background-color: rgba(255, 255, 255, 0.4);
    margin-top: 10px;
    width: 100%;
    border-radius: 10px;
}
.itemdesc img{
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    width: 95%;
}
.itemdesc a{
    text-decoration: none;
    color: purple;
}
.itemdesc h2{
    color: purple;
}
.itemdesc button{
    width: 100%;
    background-color: pink;
    border: none;
    border-radius: 30px;
    margin-bottom: 10px;
}
.itemdesc button p{
    color: purple;
    font-size: 20px;
    font-weight: bolder;
}
.itemdesc button:hover{
    background-color: purple;
    transition: 0.3s;
}
.itemdesc button p:hover{
    color: white;
    transition: 0.3s;
}
.itemdesc button:active{
    background-color: black;
}
.itemdesc button :active{
    color: pink;
}