/* body */
body{
    font-family:'Montserrat', sans-serif;
    overflow-x: hidden;
}

/* navbar */
nav{
    background-color: rgb(55, 48, 107);
    display: flex;
    align-items: center;
}
nav .navbar-brand{
    color: white;
    padding: 0;
    margin-right: 10px;
}
.navbar-brand-container{
    display: flex;
    align-items: center;
}
nav img{
    width: 40px;
    padding: 0;
    margin-right: 20px;
}
.navbar-collapse {
  transition: max-height 0.5s ease;
  max-height: 0;
  overflow: hidden;
}
.navbar-collapse.show {
  max-height: 500px;
}
.navbar-nav .nav-link {
    color: white;
}
.searchbar button[type="submit"] {
    background-color: rgb(102, 52, 127);
    color: white;
}
.searchbar button[type="submit"]:active{
    transition: 0.05s;
}

/* end navbar */

/* carousel */
.carousel-container {
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 22px;
}
.carousel-item {
    min-width: 100vw;
  }
.carousel-inner .carousel-item img{
    width: 100%;
    height: 450px;
    object-fit: cover;
}

/* end carousel */

/* categories */
.img-category{
    width: 30px;
    height: 30px
}
.categories-box{
    margin-bottom: 50px;
    margin-top: 25px;
    padding: 0;
}
.row-container{
    background-color: rgba(255, 255, 255, 0.397);
    margin-top: 5px;
}
.row-container h5{
    background-color: rgba(189, 189, 189, 0.397);
    margin-top: 5px;
    margin-bottom: 5px;
}
.category-menu:hover{
    transform:scale(1.2);
    transition: 0.2s;
}

/* end categories */

/* items */
.row{
    margin-left: 10px;
}
.card-button-group {
    align-content: center;
}
.col a{
    text-decoration: none;
}
.card button{
    width: 100%;
    background-color: rgb(210, 118, 133);
}
.card button:hover{
    background-color: pink;
    transition: 0.3s;
}
/* end items*/

/* footer */
footer{
    background-color: rgb(55, 48, 107);
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 9999;
}
footer .foot-container {
    display: flex;
    align-items: center;
    width: 100%;
}
footer img{
    width: 40px;
    max-height: 100%;
    max-width: 100%;
    margin-left: 36%;
}
footer p{
    color: white;
    font-size: 12px;
    margin-top: 15px;
    margin-left: 10px;
}
/* end footer */


/* login page */
.login .logo{
   display: flex;
   align-items: center;
   justify-content: center;
}
.login .logo img{  
   height: 50px;
   margin-bottom: 20px;
}
.login .form-container{
   background-color: rgba(251, 251, 251, 0.3);
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   border-radius: 15px;
   box-shadow: 3px 3px 10px 0 #0000;
   padding: 30px;
}
.login .form-container h3{
   color: beige;
   text-align: center;
}
.login .input{
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}
.login .input input{
   width: 300px; 
   margin-bottom: 10px; 
   background: rgba(0,0,0,0.3);
   border: none;
   outline: none;
   padding: 10px;
   font-size: 15px;
   color: pink;
   text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
   border: 1px solid rgba(0,0,0,0.3);
   border-radius: 4px;
}
.login input::placeholder {
    color: white;
}
.login .input button{
   width: 300px;
   height: 30px;
   border: none;
   background-color: rgba(255, 255, 255, 0.8);
   color: rgb(210, 118, 133);
   font-size: 16px;
   font-weight: bold;
   cursor: pointer;
   border-radius: 20px;
}
.login .input button:hover{
   background-color: rgb(210, 118, 133);
   color: white;
}
.login .input button:active{
   background-color: rgba(0, 0, 0, 0.833);
   color: rgb(210, 118, 133);
}
.login .input span{
   margin-top: 15px;
   color: beige;
}
.login .input span a{
   text-decoration: none;
   color: pink;
}
.login .input span a:hover,
.login .input span a:active{
   color: rgb(210, 118, 133);
}
/* end login page */


/* regis page */
.regis .logo {
    display: flex;
    align-items: center;
    justify-content: center;
}
.regis .logo img {
    height: 50px;
    margin-bottom: 20px;
}
.regis .form-container {
    background-color: rgba(251, 251, 251, 0.3);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 15px;
    box-shadow: 3px 3px 10px 0 #0000;
    padding: 30px;
}
.regis .form-container h3 {
    color: beige;
    text-align: center;
}
.regis .input {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.regis .input input {
    width: 100%;
    margin-bottom: 10px;
    background: rgba(0, 0, 0, 0.3);
    border: none;
    outline: none;
    padding: 10px;
    font-size: 15px;
    color: pink;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 4px;
}
.regis input::placeholder {
    color: white;
}
.regis .row{
    width: 100%;
}
.regis .input button.submit {
    width: 100%;
    background-color: white;
    color: purple;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    cursor: pointer;
}
.regis .input button.submit:hover{
    background-color: pink;
    color: black;
    transition: 0.3s;
}
.regis .input button.submit:active{
    background-color: black;
    color: pink;
}
.regis .input button.reset {
    width: 100%;
    background-color: purple;
    color: white;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    cursor: pointer;
}
.regis .input button.reset:hover{
    background-color: black;
    color: pink;
    transition: 0.3s;
}
.regis .input button.reset:active{
    background-color: pink;
    color: black;
}
.regis .input span {
    margin-top: 15px;
    color: beige;
}

.regis .input span a {
    text-decoration: none;
    color: purple;
}

.regis .input span a:hover,
.regis .input span a:active {
    color: pink;
}

/* end regis page */


/* admin page */
.admin .welcome-text{
    margin: 20px 0 20px 50px;
}
.admin .welcome-text h2{
    color: white;
}
.admin .row{
    margin-left: 10px;
    margin-right: 10px;
}
.admin .col a{
    text-decoration: none;
}
.admin .card{
    background-color: rgba(255, 255, 255, 0.397);
}
.admin .card:hover{
    background-color: pink;
    transition: 0.3s;
}
.admin .card:active{
    background-color: rgba(94, 94, 94, 0.397);
    transition: none;
}
.admin .card-icon img{
    height: 50px;
    margin-bottom: 20px;
    margin-top: 10px;
}
/* end admin page */

/* itemdet page */

.itemdesc .container{
    background-color: rgba(255, 255, 255, 0.4);
    margin-top: 10px;
    width: 100%;
    border-radius: 10px;
}
.itemdesc img{
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    width: 95%;
}
.itemdesc a{
    text-decoration: none;
    color: purple;
}
.itemdesc h2{
    color: purple;
}
.itemdesc button{
    width: 100%;
    background-color: pink;
    border: none;
    border-radius: 30px;
    margin-bottom: 10px;
}
.itemdesc button p{
    color: purple;
    font-size: 20px;
    font-weight: bolder;
}
.itemdesc button:hover{
    background-color: purple;
    transition: 0.3s;
}
.itemdesc button p:hover{
    color: white;
    transition: 0.3s;
}
.itemdesc button:active{
    background-color: black;
}
.itemdesc button :active{
    color: pink;
}
/* end itemdet page*/