 @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

 body{
    background-image: url('../img/background.png');
    font-family: 'Montserrat', sans-serif;
 }
.logo{
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo img{  
    height: 50px;
    margin-bottom: 20px;
}
.form-container{
    background-color: rgba(251, 251, 251, 0.3);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 15px;
    box-shadow: 3px 3px 10px 0 #0000;
    padding: 30px;
}
.form-container h3{
    color: beige;
    text-align: center;
}
.input{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.input input{
    width: 300px; 
    margin-bottom: 10px; 
    background: rgba(0,0,0,0.3);
    border: none;
    outline: none;
    padding: 10px;
    font-size: 15px;
    color: #dc731d;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
    border: 1px solid rgba(0,0,0,0.3);
    border-radius: 4px;
}
.input button{
    width: 300px;
    height: 30px;
    border: none;
    background-color: rgba(255, 255, 255, 0.8);
    color: #dc731d;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 20px;
}
.input button:hover,
.input button:active{
    background-color: #dc731d;
    color: black;
}
.input span{
    margin-top: 15px;
    color: beige;
}
.input span a{
    text-decoration: none;
    color: #dc731d  ;
}
.input span a:hover,
.input span a:active{
    color: #ffbe89;
}